<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/superuser.css">
    <title>Superuser Page</title>
</head>

<body>
      <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">PagePals</a>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/books">Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

    <div class="container mt-4">
    <h1>Superuser Page</h1>


    <table>
      <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {{#each users}}
        <tr>
          <td>{{this.username}}</td>
          <td>{{this.email}}</td>
          <td>{{this.country}}</td>
          <td>
            <a href="/superuser/edit/{{this.id}}">Edit</a>
            <a href="/superuser/delete/{{this.id}}">Delete</a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>

    <form action="/generate-pdf" method="GET">
      <button type="submit">Generate PDF</button>
    </form>
  </div>

</body>

</html>